@using ODK.Umbraco.Content;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    if (!Model.Content.HasChildContent("bodyText"))
    {
        return;
    }
}

<div class="content">
    @Html.GetGridHtml(Model.Content, "bodyText", "bootstrap3-fluid")
</div>