@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<section class="section section--footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/">Knitwits International Home</a>
            </div>
        </div>
    </div>
</section>