@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage

<section class="section section--footer bg-light">
    <div class="container">
        <div class="row">
            @foreach (KeyValuePair<string, string> footerLink in Settings.FooterLinks)
            {
                <div class="col-md-12">
                    <a href="@footerLink.Key">@footerLink.Value</a>
                </div>
            }
        </div>
    </div>
</section>