@using ODK.Umbraco.Content;
@using ODK.Umbraco.Settings;
@using ODK.Website.Controllers;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    IPublishedContent member = Umbraco.MembershipHelper.GetCurrentMember();
    if (member != null)
    {
        return;
    }

    IPublishedContent homePage = Model.Content.HomePage();
    string loginButtonText = homePage.GetHomePageValue<string>("loginButtonText");
}

@using (Html.BeginUmbracoForm<AccountController>("Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal" tabindex="-1" role="dialog" id="login-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" />
                    </div>

                    @Html.ValidationSummary()
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">@loginButtonText</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}