@using ODK.Payments;
@using ODK.Umbraco.Payments;
@model PaymentModel
@{
    PaymentProviderType provider;
    if (!Enum.TryParse<PaymentProviderType>(Model.Provider, out provider))
    {
        return;
    }
}

@if (provider == PaymentProviderType.Stripe)
{
    string formId = string.Format("stripe-form-{0}", Model.Id);

    using (Html.BeginUmbracoForm("Create", "Stripe", null, new { id = formId }, FormMethod.Post))
    {
        <div>
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="hidden" class="js-cancel-url" name="cancelUrl" value="@Request.Url" />

            <button class="btn btn-primary">
                Purchase
            </button>
            <span>@Model.CurrencyString</span>
        </div>
    }
}