@using ODK.Umbraco.Members;
@using ODK.Umbraco.Web.Mvc;
@model OdkUmbracoTemplateModel<MemberModel>
@{
    MemberModel member = Model.Value;
    string memberUrl = Model.Content.GetPropertyValue<IPublishedContent>("personPage", recurse: true).Url + "?id=" + member.Id;
}

<div id="member-@member.Id" class="card member-tile">
    <a href="@memberUrl">
        @if (member.Picture != null)
        {
            <img class="card-img-top" src="@member.Picture.GetCropUrl(height: 150, width: 150)" alt="Photo of @member.FullName">
        }
        <div class="member-tile__footer">
            @member.FullName
        </div>
    </a>
</div>