@using ODK.Umbraco.Settings;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<section class="section section--header">
    <div class="container">
        <h1>@Model.Content.GetPropertyValue("PageTitle")</h1>
    </div>
</section>