@using ODK.Umbraco.Settings;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    @* TODO - move into code *@
    HomePageSettings homePageSettings = Model.Content.HomePageSettings();

    string style = "";

    if (!string.IsNullOrEmpty(homePageSettings.ThemeColour))
    {
        style += "background-color: " + homePageSettings.ThemeColour +";";
    }

    if (!string.IsNullOrEmpty(homePageSettings.ThemeFontColour))
    {
        style += "color: " + homePageSettings.ThemeFontColour + ";";
    }
}

<section class="section section--header" style="@style">
    <div class="container">
        <h1>@Model.Content.GetPropertyValue("PageTitle")</h1>
    </div>
</section>