@using System.Web.Mvc;
@using ODK.Umbraco.Settings;
@using SiteSettings = ODK.Umbraco.Settings.SiteSettings;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    IPublishedContent member = Umbraco.MembershipHelper.GetCurrentMember();
}

@if (member == null)
{
    SiteSettings siteSettings = Model.Content.SiteSettings();

    <a href="@siteSettings.LoginUrl">Login</a>
}
else
{
    using (Html.BeginUmbracoForm("Logout", "Account", FormMethod.Post))
    {
        <button type="submit">Logout</button>
    }
}