<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True" />
    <setting key="onlyAllowJsFilesInEditor" value="True" />
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
    <styleBundle virtualPath="~/bundles/css/main" disableMinification="False">
      <include virtualPath="~/css/style.css" />
    </styleBundle>
    <scriptBundle virtualPath="~/bundles/js/account" disableMinification="False">
      <include virtualPath="~/scripts/Payments/stripe.js" />
    </scriptBundle>
    <scriptBundle virtualPath="~/bundles/js/main" disableMinification="False">
      <include virtualPath="~/scripts/script.js" />
    </scriptBundle>
    <styleBundle virtualPath="~/bundles/css/home" disableMinification="False">
      <include virtualPath="~/css/home.css" />
      <include virtualPath="~/css/theme-base.css" />
    </styleBundle>
    <styleBundle virtualPath="~/bundles/css/oxford" disableMinification="False">
      <include virtualPath="~/css/theme-oxford.css" />
    </styleBundle>
    <scriptBundle virtualPath="~/bundles/js/admin" disableMinification="True">
      <include virtualPath="~/scripts/lib/jquery.tablesorter.min.js" />
      <include virtualPath="~/scripts/lib/trumbowyg.min.js" />
      <include virtualPath="~/scripts/admin.js" />
    </scriptBundle>
    <styleBundle virtualPath="~/bundles/css/admin" disableMinification="False">
      <include virtualPath="~/css/lib/chosen.bootstrap/chosen.bootstrap.css" />
      <include virtualPath="~/css/lib/trumbowyg/trumbowyg.min.css" />
      <include virtualPath="~/css/lib/jquery.tablesorter/tablesorter.css" />
      <include virtualPath="~/css/admin.css" />
    </styleBundle>
  </bundles>
</optimus>