@using ODK.Umbraco.Members;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    
    IPublishedContent[] blogposts = Model.Content.Children
                                                 .Where(x => !x.IsRestricted(CurrentMember, recurse: false))
                                                 .OrderByDescending(x => x.CreateDate).ToArray();
}

<section class="section section--main">
    <div class="container">
        @foreach (IPublishedContent blogpost in blogposts)
        {
            string title = blogpost.GetPropertyValue<string>("pageTitle");
            string excerpt = blogpost.GetPropertyValue<string>("excerpt");
            
            <div class="list-item">
                <h2><a href="@blogpost.Url">@title</a></h2>
                @Html.Partial("BlogpostMeta", blogpost)
                <p>@excerpt</p>
            </div>
        }
    </div>
</section>