@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
	
	string redirectUrl = Model.Content.GetPropertyValue<string>("redirectUrl");
	if (!string.IsNullOrWhiteSpace(redirectUrl) && Model.Content.GetPropertyValue<bool>("redirectEnabled"))
	{
	    Response.Redirect(redirectUrl);
	}
	
	string instagramApiKey = Model.Content.GetPropertyValue<string>("instagramApiKey");
}

@Html.Partial("SectionHeader")

@if (!string.IsNullOrEmpty(instagramApiKey))
{
    <div id="pixlee_container">
    </div>
    
    <script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'@instagramApiKey'});Pixlee.addSimpleWidget({widgetId:'1808'});};</script><script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>
}

@Html.Partial("Content")