@using ODK.Umbraco.Events;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
	Layout = "Master.cshtml";

	EventModel eventModel = new EventModel(Model.Content);

	bool restricted = CurrentMember == null && !eventModel.Public;
	if (restricted)
	{
	    Response.Redirect(Model.Content.Parent.Url);
	}

	string mapApiKey = Model.Content.Site().GetPropertyValue<string>("googleMapsApiKey");
	string mapUrl = "https://www.google.com/maps/embed/v1/place?key=" + mapApiKey + "&q=" + eventModel.MapQuery;
}

<section class="section section--main">
    <div class="container event">
        <h2>@eventModel.Location</h2>
        <h2>@eventModel.Date.ToString("dd MMMM yyyy")</h2>

        @Html.Raw(eventModel.Description)

        <iframe width="600" height="450" frameborder="0" style="border:0" src="@mapUrl" allowfullscreen></iframe>
    </div>
</section>