@using System.Web.Mvc;
@using ODK.Umbraco.Settings;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";

    HomePageSettings homePageSettings = Model.Content.HomePageSettings();
}

@Html.Partial("SectionHeader")

<section class="section">
    <div class="container">
        @using (Html.BeginUmbracoForm("Login", "account", FormMethod.Post, new { id="login" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" />
            </div>

            @Html.ValidationSummary()

            <div>
                <button type="submit" class="btn btn-primary">@homePageSettings.LoginButtonText</button>
            </div>
        }
    </div>
</section>