@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@Html.Partial("SectionHeader")

<div class="container">
    <section class="section">
        Look at all the people...
    </section>
</div>