@using ODK.Umbraco.Members;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    int chapterId = HomePage.Id;
    MemberSearchCriteria criteria = new MemberSearchCriteria(HomePage.Id)
    {
        Sort = m => m.OrderBy(x => x.FirstName).ThenBy(x => x.LastName)
    };

    IEnumerable<MemberModel> members = MemberService.GetMembers(criteria);
}

<section class="section">
    <div class="container">
        <div class="row">
            @foreach (MemberModel member in members)
            {
                <div class="col-2">
                    @Html.Partial("PersonThumbnail", ModelFor<MemberModel>(member))
                </div>
            }
        </div>
    </div>
</section>