@using ODK.Umbraco.Members;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    int chapterId = HomePage.Id;
    MemberSearchCriteria criteria = new MemberSearchCriteria(HomePage.Id)
    {
        Sort = m => m.OrderBy(x => x.FirstName).ThenBy(x => x.LastName),
        Types = new[] { MemberTypes.Full, MemberTypes.Partial, MemberTypes.Trial }
    };

    IEnumerable<MemberModel> members = MemberService.GetMembers(criteria, Umbraco);
}

<section class="section section--main">
    <div class="container">
        <div class="clearfix">
            <div class="form-inline float-right">
                <label for="member-search">Search</label>&nbsp;
                <input type="text" class="form-control search" id="member-search" />
            </div>
        </div>
        <div class="row members">
            @foreach (MemberModel member in members)
            {
                <div class="col-md-2 col-4 member search-target">
                    @Html.Partial("PersonThumbnail", ModelFor<MemberModel>(member))
                </div>
            }
        </div>
    </div>
</section>