@using ODK.Umbraco.Members;
@using ODK.Umbraco.Settings;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    MemberService memberService = new MemberService(ApplicationContext.Services.MemberService, Umbraco);

    int chapterId = Model.Content.HomePage().Id;
    IReadOnlyCollection<MemberModel> members = memberService.GetMembers(chapterId);

    string memberUrl = Model.Content.GetPropertyValue<IPublishedContent>("memberProfilePage").Url;
}

@Html.Partial("SectionHeader")

<section class="section">
    <div class="container">
        @foreach (MemberModel member in members)
        {
            <div>
                <a href="@memberUrl?id=@member.Id">@member.FirstName</a>
            </div>
        }
    </div>
</section>