@using ODK.Umbraco.Members;
@using ODK.Website.Models;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    int chapterId = HomePage.Id;
    MemberSearchCriteria criteria = new MemberSearchCriteria(HomePage.Id)
    {
        Sort = m => m.OrderBy(x => x.FirstName).ThenBy(x => x.LastName),
        Types = new[] { MemberTypes.Full, MemberTypes.Partial, MemberTypes.Trial }
    };

    IEnumerable<MemberModel> members = MemberService.GetMembers(criteria, Umbraco);
}

<section class="section section--main">
    <div class="container">
        <div class="clearfix">
            <div class="form-inline float-right">
                <div class="input-group input-group--search">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control search" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="row members">
            @foreach (MemberModel member in members)
            {
                <div class="col-md-2 col-4 member search-target">
                    @Html.Partial("PersonThumbnail", ModelFor<PersonThumbnailViewModel>(new PersonThumbnailViewModel(member)))
                </div>
            }
        </div>
    </div>
</section>