@using ODK.Umbraco.Members;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    UpdateMemberModel model = new UpdateMemberModel(CurrentMember, TempData["Model"] as UpdateMemberModel);
}

<section class="section section--main">
    <div class="container">
        @using (Html.BeginUmbracoForm("Update", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("MemberForm", ModelFor<MemberModel>(model))

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        }
    </div>
</section>