@using ODK.Umbraco.Members;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<section class="section section--main">
    <div class="container">
        @using (Html.BeginUmbracoForm("Update", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("MemberForm", ModelFor<MemberModel>(CurrentMemberModel))

            @Html.ValidationSummary()

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        }
    </div>
</section>