@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ChapterPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "ChapterMaster.cshtml";
}

@Html.Partial("SectionHeader")

<p>
    Welcome to the @Model.Content.Location page!
</p>