@using System.Web.Mvc;
@using ODK.Umbraco.Settings;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    HomePageSettings chapterPageSettings = Model.Content.HomePageSettings();
}

@Html.Partial("SectionHeader")

<section class="section">
    <div class="container">
        @using (Html.BeginUmbracoForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" />
            </div>
            
            @Html.ValidationSummary()

            <div>
                <button type="submit">Register</button>
            </div>
        }
    </div>
</section>