@using ODK.Website.Models;

<h2>Send test email</h2>
@using (Html.BeginUmbracoForm("SendTestEmail", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group row">
        <label class="col-form-label col-3 col-md-2 text-right" for="test-email-to">To</label>
        <div class="col-9 col-md-10">
            <input type="text" class="form-control" id="test-email-to" name="to" />
        </div>
    </div>

    @Html.Partial("Admin/_Email", new EmailViewModel("test"))
}