.row--tenet {
  margin-top: 6px;
}

.tenets-container {
	text-align: left;
}

.tenets-title {
  	font-size: 2rem;
	font-weight: 700;
  	padding-top: 6px;
	padding-bottom: 6px;
  	text-transform: uppercase;
}

.tenets-inverse {
  background-color: #000;
  color: #fff;
  padding: 6px;
  text-transform: uppercase;
}

.tenet-content-container {
	display: table;
}

.tenet-content {
	display: table-cell;	
	font-size: 1.2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: left;	
	vertical-align: middle;
}

.tenet-number {
	font-size: 3rem;
  	font-weight: 700;
  	text-align: right;
}

.tenet-title {
  padding-bottom: 6px;
  text-transform: uppercase;
  text-align: right;
}


@media screen and (max-width: 768px) {
    .tenet-title {
		font-size: 1rem;
	}
}

.row--tenet.blue {
  color: white;
  background-color: #7168e3;
}
.row--tenet.pink {
  color: white;
  background-color: #ff00c6;
}
.row--tenet.green {
  color: white;
  background-color: #8dc63f;
}