html {
    font-size: 16px;
}

@media (min-width:992px) {
    html {
        font-size: 21px;
    }
}

body {
	font-family: 'Josefin Sans';
}

img {
    max-width: 100%;
}

.img--hero {
    width: 100%;
}

.background-image-full {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.content {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content p:last-child {
    margin-bottom: 0;
}

.form-group.required .form-control-label:after {
    content: " *";
    color: #dc3545;
}

.field-validation-error {
    color: #dc3545;
}

.icon--help {
    color: #6d6dcb;
}

.list-item {
    border-bottom: 1px solid #E3E3E3;
	margin-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.overlay {
    position: relative;
}

.overlay:after {
	content: "";
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlay--dark:after {
    background: rgba(37,33,33,.6);
}

.overlay--light:after {
    background: hsla(0,0%,88%,.6);
}

.overlay * {
    position: relative;
    z-index: 1;
}

.picture--profile {
    max-height: 300px;
    max-width: 100%;
}

/* NAV */
.logo--main {
	max-width: 100%;
}

.navbar .container {
	position: relative;
}

.navbar .navbar-nav {
	justify-content: center;
	width: 100%;
}

.nav-item:first-child {
	border-left: none;
}

/* lg */
@media screen and (min-width: 992px) {
    .navbar-nav {
		margin-top: 0.4rem;
		margin-bottom: 0.4rem;
	}

	.nav-item {
        border-left: 1px solid rgba(255, 255, 255, .5);
    }

	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0.1rem 2rem;
	}
}

.account-links {
	position: absolute;
	right: 15px; /*match container padding-right*/
	top: 2px;
}

.account-links__user {
	opacity: 0.5;
	padding-top: 0.1rem;
}

.account-links__user:hover {
    opacity: 0.7;
}

.account-links .dropdown-menu {
    min-width: inherit;
    text-align: right;
}

/* SECTIONS */
.section {
    padding: 90px 20px;
}

.section--content-center {
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
	display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.section--header {
    padding-top: 30px;
	padding-bottom: 30px;
}

.section--header h1 {
	margin-bottom: 0;
}

.section--hero {
	background-position-y: 0;
	padding: 50px 20px;
}

.section--hero__content {
	font-size: 1.4rem;
	max-width: 760px;
}

.overlay--dark .section--hero__content {
	color: #fff;
}

.section--hero__content h1 {
	font-size: 3rem;
}

.section--hero__content h1:not(:first-child) {
	margin-top: 4rem;
}

.section--main {
	padding-top: 30px;
}

.section__description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 60px;
}

/* SIDEBAR */
.sidebar {
	margin-top: 2rem;
}

.sidebar .card:not(:first-child) {
    margin-top: 1rem;
}

.sidebar .event:not(:last-child) {
	margin-bottom: 1rem;
}

/* PEOPLE */
.member-tile {
	border: none;
	margin: 5px;
	padding: 5px;
    text-align: center;
}

.member-tile a:hover {
	opacity: 0.8;
	text-decoration: none;
}

.member-tile__footer {
    font-size: 0.8rem;
}

.member-tile .card-img-top {
    background-color: #eee; /*TEMP*/
    border-radius: calc(.5rem - 1px);
    max-height: 150px;
    line-height: 150px;
    width: inherit;
}

/* CHAPTER */
.media-item {
    padding: 0.5rem;
}

.media-item:hover {
    opacity: 0.7;
}

.media-item__image {
	max-width: 100%;
}

/* Bootstrap overrides */
.btn-primary {
    background-color: #0069d9;
    border-color: #0069d9;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.col-form-label,
.form-control-label {
	font-weight: 700;
}

.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}

.dropdown {
	cursor: pointer;
}

.dropdown-menu-right {
	right: 0;
	left: auto;
}

.text-muted {
    color: #bbb !important;
}

/* PAGE SPECIFIC */

/* Home */
.page--home .nav-item {
	text-transform: uppercase;
}

.page--home .navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}