body {
	font-family: 'Catamaran';
}

.btn-primary {
	background-color: #0069d9;
	border-color: #0069d9;
}

.btn-primary:hover {
	background-color: #0056b3;
	border-color: #0056b3;
}

.background-image-full {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.events__event {
	border-bottom: 1px solid #E3E3E3;
}

.logo--main {
	max-width: 100%;
}

.overlay {
    position: relative;
}

.overlay:after {
	content: "";
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlay--dark:after {
    background: rgba(37,33,33,.6);
}

.overlay--light:after {
    background: hsla(0,0%,88%,.6);
}

.overlay * {
    position: relative;
    z-index: 1;
}

.section {
    padding: 90px 20px;
}

.section--content-center {
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
	display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.section--header {
    padding-top: 30px;
	padding-bottom: 30px;
}

.section--hero {
	background-position-y: 0;
	padding: 100px 20px;
	min-height: 100vh;
}

.section--hero__content {    	
	color: #fff;
	font-size: 1.4rem;
	max-width: 760px;    	
}

.section--hero__content h1 {
	font-size: 3rem;
}

.section--main {
	padding-top: 30px;
}

.section__description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 60px;
}

/* page overrides */
.page--home .navbar .navbar-nav {
	justify-content: center;
	width: 100%;
}

.page--home .nav-item {
	border-left: 1px solid rgba(255,255,255,.5);
	padding-left: 20px;
	padding-right: 20px;
}

.page--home .nav-item:first-child {
	border-left: none;
}